*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #6cf;
}
#Quizcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.next-btn {
    padding: 3px 20px;
    background-color: green;
    margin-bottom: 11px;
}
.prev-btn{
    padding: 3px 20px;
    background-color: blueviolet;
    margin-bottom: 11px;
}
